.card {
    font-family: 'Quicksand', sans-serif;
    background: white;
    padding: 15px;
    /* max-width: 350px; */
    border-radius: 18px;
    overflow: hidden;
    margin: 0 auto 20px auto;
  }

  .card h2 {
    text-align: center;
    color: #3c3d45;
    font-size: 1.25em;
    margin: 100px 20px 100px 20px;
  }
  img.avatar {
    width: 75px;
    border-radius: 5em;
    position: relative;
    left: 70px;
  }
  
  .progress {
    border: 3px solid #efefef;
    border-radius: 6em;
    height: 50px;
    color: white;
    margin-bottom: 5px;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    display: flex;
  }
  
  .progress.winner {
    border: 3px solid #efefef;
    border-radius: 6em;
    height: 50px;
    background-color: #67d098;
    margin-bottom: 5px;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
  }
  
  .progress .answer {
    color: #505776;
    font-size: 1em;
    font-weight: bold;
    justify-content: flex-start;
    flex: 1;
    margin-top: 16px;
  }
  
  .progress .votes {
    justify-content: flex-end;
    color:grey;
    font-size: .85em;
    margin-top: 16px;
  }
  
  .header {
    color: #dad9e1;
    font-weight: bold;
    display: flex;
  }
  
  .header .votes {
    font-weight: bold;
    justify-self: flex-start;
    flex: 1;
  }
  
  .header .logo {
    justify-content: flex-end;
  }