.card-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.card-background {
    border: 1px solid black;
    margin-top: 20px;
}

.card-foreground {
    border: 1px solid black;
    width:30vw;
}
